/* bottom_menu (marketlist) */

.icon_bar_cell {
	position: relative;
	top: 0px;
}

.iconBar_fifa_bg::after {
	content: "";
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    background: url(../img/FIFA/e_unselect_mubg_top.png) no-repeat;
    background-position: top center;
    background-size: contain;
    height: 10px;
    z-index: 1;
}

.iconBar_fifa_bg a {
	background: url(../img/FIFA/e_unselect_mubg_bottom.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    z-index: -2;
}

.icon_bar_fifa {
	display: block;
	width: 30px;
	height: 30px;
	position: relative;
	top: -2px;
	left: -1px;
	background: url(../img/FIFA/fifaWorldIcoOff.png) no-repeat;
	background-size: cover;
	background-position: center;
	margin: -2px auto -8px;
	z-index: 2;
}
.scroll_top {
    display: block;
    position: fixed;
    bottom: 150px;
    right: 25px;
    z-index: 1031;
    font-size: 30px;
    color: rgba(104, 104, 104, 0.5);
}
.scroll_top_bg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 1px rgba(104, 104, 104, 0.5);
    text-align: center;
    vertical-align: middle;
}
